apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: globepay-prod
data:
  aws-region: "us-east-1"
  s3-bucket: "globepay-prod-documents"
  sqs-queue-url: "https://sqs.us-east-1.amazonaws.com/907849381252/globepay-prod-queue"
  log-level: "info"
  enable-tracing: "true"