apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: globepay-prod
data:
  aws-region: "us-east-1"
  s3-bucket: "globepay-prod-documents"
  sqs-queue-url: "https://sqs.us-east-1.amazonaws.com/907849381252/globepay-prod-queue"
  log-level: "info"
  enable-tracing: "true"
  config.prod.yaml: |
    environment: production
    service_name: globepay-api

    server:
      port: 8080
      read_timeout: 30s
      write_timeout: 30s
      idle_timeout: 120s

    database:
      host: postgresql.globepay-prod.svc.cluster.local
      port: 5432
      user: globepay
      password: ${DB_PASSWORD}
      db_name: globepay_prod
      ssl_mode: disable
      max_open_conns: 25
      max_idle_conns: 5
      conn_max_lifetime: 5m
      migrations_path: ./internal/infrastructure/database/migrations

    redis:
      host: redis.globepay-prod.svc.cluster.local
      port: 6379
      password: ""
      db: 0

    jwt:
      secret: ${JWT_SECRET}
      expiration: 24h

    aws:
      region: us-east-1
      s3_bucket: globepay-prod-assets
      sqs_queue_url: https://sqs.us-east-1.amazonaws.com/907849381252/globepay-prod-queue
      ses_from_email: noreply@globepay.com

    observability:
      prometheus_port: 9090
      jaeger_endpoint: http://jaeger-collector.observability.svc.cluster.local:14268/api/traces
      log_level: info
      enable_tracing: true