apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../../base

namespace: globepay-prod

patchesStrategicMerge:
- ./patches/backend-deployment.yaml
- ./patches/frontend-deployment.yaml

secretGenerator:
- name: backend-secrets
  literals:
  - database-url=postgresql://globepay:your-secure-password-here@globepay-prod-db-2.ci9a6emem5ba.us-east-1.rds.amazonaws.com:5432/globepay_prod
  - redis-url=redis://redis-cluster:6379/0
  - jwt-secret=super-secret-jwt-key-change-in-production