apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/backend
- ../../base/redis
- ../../base/postgresql
- ../../base/ingress

namespace: globepay-prod

patches:
- path: ./patches/backend-deployment.yaml
- path: ./patches/backend-resources.yaml

secretGenerator:
- name: backend-secrets
  literals:
  - database-url=postgresql://globepay:${DB_PASSWORD}@postgresql.globepay-prod.svc.cluster.local:5432/globepay_prod?sslmode=disable
  - redis-url=redis://redis:6379/0
  - jwt-secret=${JWT_SECRET}