apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/backend
- ../../base/redis
- ../../base/postgresql
- ../../base/ingress

namespace: globepay-prod

patches:
- path: ./patches/backend-deployment.yaml
- path: ./patches/backend-resources.yaml

secretGenerator:
- name: backend-secrets
  envs:
  - .env.secret
- name: postgresql-secrets
  literals:
  - password=${DB_PASSWORD}