apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/backend
- ../../base/redis
- ../../base/postgresql
- ../../base/ingress
- ../../base/migration

namespace: globepay-prod

patchesStrategicMerge:
- postgresql-env-patch.yaml
- patches/backend-deployment.yaml
- patches/backend-resources.yaml
- patches/frontend-deployment.yaml
- patches/migration-job.yaml

secretGenerator:
- name: backend-secrets
  envs:
  - .env.secret
- name: postgresql-secrets
  envs:
  - .env.secret