apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: backend
        image: 907849381252.dkr.ecr.us-east-1.amazonaws.com/globepay-backend:latest
        env:
        - name: CONFIG_FILE
          value: config.prod.yaml
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: jwt-secret
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: database-password
        livenessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 120
          periodSeconds: 15
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /health/ready
            port: http
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5