apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: aws-load-balancer-ca
  namespace: kube-system
spec:
  secretName: aws-load-balancer-ca-tls
  issuerRef:
    name: selfsigned
    kind: ClusterIssuer
  isCA: true
  commonName: aws-load-balancer-ca